.container{
    height: 100%;
    width: 100%;
}
main{
    background-color: #800000;
    color: white;
}
/*top bar styling*/
.topbar{
    display: flex;
    justify-content: left;
    text-align: left;
    width: 100%;
    height: 25%;
    padding: 20px;
    background-color: #AE0000;
}
.topbar li{
    display: block;
    width: 4em;
    text-align: center;
}
.topbar a{
    margin: 2px;

}
/*style the music section*/
.maincontent{
    width: 100%;
    padding: 20px;
    justify-content: center;
    text-align: center;
    display: flex;
}
#mainhead{
    flex-basis: 500px;
    height: 50vh;
    border-radius: 15%;
    background: rgba(0, 0, 0, 0.8);
}
#musiclist{
    flex-basis: 650px;
    height: 100vh;
    margin: 4px;
}
#playmusic{
    flex-basis: 400px;
    height: 50vh;
    margin: 4px;
    border-radius: 15%;
    background: rgba(0, 0, 0, 0.8);
}
