.container{
    height: 100%;
    width: 100%;
}
main{
    background-color: #800000;
    color: white;
    text-align: center;
    justify-content: center;
}
/*top bar styling*/
.topbar{
    display: flex;
    justify-content: left;
    text-align: left;
    width: 100%;
    height: 25%;
    padding: 20px;
    background-color: #AE0000;
}
.topbar li{
    display: block;
    width: 6em;
    text-align: center;
}
.topbar a{
    margin: 2px;
}
.topbar a:hover{
    color: rgba(255, 255, 255, 0.7);
}
/*style the music section*/

.maincontent{
    height: 90%;
    width: 100%;
    padding: 15px;
    display: flex;
}
.maincontent #leftcontent, #centercontent{
    position: relative;
    padding: 15px;
}
.musicicon{
    margin: 0px 0px 0px 12px;
}
#leftcontent{
    width: 25%;
    height: 50%;
    text-align: left;
    background-color: rgba(59, 6, 6, 0.349);
}
#leftcontent h1{
    text-align: center;
    font-weight: 200;
    margin: 0px 0px 0px 12px;
    padding-bottom: 20px;
}
#leftcontent h2{
    font-size: medium;
    font-weight: 500;
    margin: 15px 0px 7px 12px;
    color: rgba(201, 79, 79, 0.904);
    align-items: center;
    transition: .3s linear;
}
#leftcontent h2:hover{
    cursor: pointer;
    color: azure;
}
#leftcontent h2 span{
    position: relative;
    margin-right: 20px;
}
#leftcontent h2:hover span::before{
    border: 2px solid azure;
}
#leftcontent h2 span::before{
    content: ' ';
    position: absolute;
    width: 4px;
    height: 4px;
    border: 2px solid rgba(201, 79, 79, 0.904);
    border-radius: 50%;
    top: 8px;
    transition: .3s linear;
}
#musiccontent{
    position: relative;
    margin-top: 20px;
    text-align: center;
    border: 1px solid white;
}
/*center music content*/
#centercontent{
    width: 75%;
    height: 90%;
}
